.grid_12.alpha.margin-top
  -if @guide
    -title "Guides", @guide.title
    -description @guide.body_html
    %h1=@guide.title
    .content~@guide.body_html
    =disqus_thread
  -else
    %h1 Guide not found
    .content The guide requested is not available

.grid_4.omega.margin-top=partial "guides/sidebar"
.clear

:javascript
  var MARGIN_TOP  = 25;
  
  var $window       = $(window),
      sidebar       = $('.sidebar_content'),
      sidebarTop    = sidebar.offset().top,
      sidebarFixed  = false,
      sidebarAbs    = false,
      sidebarHeight = sidebar.height(),
      parentOffset  = sidebar.parent().offset().top,
      content       = $('.grid_12 .content'),
      contentTop    = content.offset().top,
      contentHeight = content.height(),
      min           = sidebarTop - MARGIN_TOP,
      max           = contentTop + contentHeight;
  
  $(window).bind('scroll', function(e){
    var scrollTop = $window.scrollTop();
    
    if ( scrollTop > min && scrollTop + sidebarHeight + MARGIN_TOP < max ) {
      if ( sidebarFixed ) return;
      sidebarFixed  = true;
      sidebarAbs    = false;
      
      sidebar.css({
        position  : 'fixed',
        top       : '25px'
      });
    } else if ( scrollTop + sidebarHeight + MARGIN_TOP >= max ) {
      if ( sidebarAbs ) return;
      sidebarAbs    = true;
      sidebarFixed  = false;
      
      sidebar.css({
        position  : 'absolute',
        top       : max - parentOffset - sidebarHeight + 'px'
      });
    } else {
      if ( ! sidebarFixed ) return;
      sidebarFixed  = false;
      sidebarAbs    = false;
      
      sidebar.css({
        position  : 'static',
        top       : '0'
      });
    }
  });